<!DOCTYPE html>
<html lang="{{twiew.htmllang|default('en')}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{twiew.title}}</title>
	<link rel="icon" type="image/png" sizes="16x16 32x32 64x64" href="{{twiew.favicon_href}}">

	{% if attribute(twiew.sections, 'head') is defined %}
		{% include twiew.sections.head.layout with _context %}
	{% endif %}
	
</head>
<body>

{% if attribute(twiew.sections, 'header') is defined %}
	<header>
		{% for blockKey, blockInclude in twiew.sections.header|sort %}
			{% set block = blockInclude %}
			{% if blockInclude.layout %}
				{% include blockInclude.layout with _context %}
			{% endif %}
		{% endfor %}
	</header>
{% endif %}
{% if attribute(twiew.sections, 'main') is defined %}
	<main>
		{% for blockKey, blockInclude in twiew.sections.main|sort %}
			{% set block = blockInclude %}
			{% if blockInclude.layout %}
				{% include blockInclude.layout with _context %}
			{% endif %}
		{% endfor %}
	</main>
{% endif %}
{% if attribute(twiew.sections, 'footer') is defined %}
	<footer>
		{% for blockKey, blockInclude in twiew.sections.footer|sort %}
			{% set block = blockInclude %}
			{% if blockInclude.layout %}
				{% include blockInclude.layout with _context %}
			{% endif %}
		{% endfor %}
	</footer>
{% endif %}

</body>
</html>