{{block.custom_html_top|default('')}}

<div class="d-flex justify-content-center align-items-center {{block.class|default('')}}">
	{% for includeComponent in block.components %}
		{% set component = includeComponent %}
		{% if includeComponent.slot == '1' %}
			{% include includeComponent.tpl with _context %}
		{% endif %}
	{% endfor %}
</div>

{{block.custom_html_bottom|default('')}}