{{block.custom_html_top}}

<div class="container-fluid">
	<div class="row">
		
		<div class="col-6">
		{% for component in components%}
			{% if component.block == '1' %}
				{% include component.tpl %}
			{% endif %}
		{% endfor %}
		</div>
		
		<div class="col-6">
		{% for component in components%}
			{% if component.block == '2' %}
				{% include component.tpl %}
			{% endif %}
		{% endfor %}
		</div>
		
	</div>
</div>

{{block.custom_html_bottom}}